@model LogUser
<form action="login" method="post">
    <div class="form-group">
        <label for="logEmail">Email</label>
        <input asp-for="logEmail" class="form-control" value="carababy@yahoo.com">
        <span asp-validation-for="logEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="logPassword">Password</label>
        <input asp-for="logPassword" class="form-control" value="password">
        <span asp-validation-for="logPassword" class="text-danger"></span>
    </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
</form>