@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center jumbotron">Petstagram</h1>
<div class="text-center row">
    <div class="col-6">
        <h1>Register</h1>
        <partial name="_Register.cshtml" />
    </div>
    <div class="col-6">
        <h1>Login</h1>
        <partial name="_Login.cshtml" />
    </div>
</div>
