@{
    ViewData["Title"] = "Home Page";
}

@model Category

<h1 class="display-5 text-center"><a href="/">Products</a> | Categories</h1>
<br>
<div class="d-flex justify-content-between">
    <div class="col-6 me-auto p-2 bd-highlight">
        <h2 class="px-5 text-warning">New Category</h2>
        <br><br>
        <form action="createCategory" method="post">
            <div class="mb-3 row">
                <label class="box">Name</label>
                <input name="Name" class="form-control" style="Width: 200px;">
            </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            <br><br>
                <input type="submit" value="Create" class="btn btn-warning btn-outline-dark space">
        </form>
    </div>
    <div class="p-2 bd-highlight">
        <h2 class="px-5 text-warning">Existing Categories</h2>
        <table class="table">
            <tbody>
            @{
                foreach(Category c in ViewBag.allCategories)
                {
                    <tr>
                        <td><a href="/category/@c.CategoryId">@c.Name</a></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div> 
</div>
