@model Wedding
<div class="d-flex justify-content-between align-items-center">
    <h1 class="text-primary"><span class="text-success">~</span> Plan Your Weddings! <span class="text-success">~</span></h1>
    <div class="me-auto p-2 bd-highlight">
        <a class="fs-5" href="Dashboard">Dashboard</a>
        <a class="fs-5 px-3" asp-action="logout">Log Out</a>
    </div>
</div>
<br><br>
<div class="col-6 me-auto p-2 bd-highlight">
    <form action="createWedding" method="post">
        <div class="mb-3 row">
            <label class="box">Wedder One</label>
            <input asp-for="WedderOne" class="form-control" style="Width: 200px;">
        </div>
            <span asp-validation-for="WedderOne" class="text-danger"></span>
        <br><br>
        <div class="mb-3 row">
            <label class="box">Wedder Two</label>
            <input asp-for="WedderTwo" class="form-control" style="Width: 200px;">
        </div>
            <span asp-validation-for="WedderTwo" class="text-danger"></span>
        <br><br>
        <div class="mb-3 row">
            <label class="box">Date</label>
            <input asp-for="Date" type="date" class="form-control" style="Width: 200px;">
        </div>
            <span asp-validation-for="Date" class="text-danger"></span>
        <br><br>
        <div class="mb-3 row">
            <label class="box">Address</label>
            <input asp-for="Address" class="form-control" style="Width: 200px;">
        </div>
            <span asp-validation-for="Address" class="text-danger"></span>
        <br><br>
            <input type="hidden" name="UserId" value="@ViewBag.UserId">
            <input type="submit" value="Create" class="btn btn-warning btn-outline-dark space">
    </form>
</div>