<div class="text-center">
    <h2>Random Passcode(passcode #@ViewBag.times)</h2>
    <br>
    <h3 class="box"style="height: 55x;">@ViewBag.passcode</h3>
    <br>
        <a href="/Passcode" class="btn button">Generate</a>
    </div>
</div>
</div>
