    <div class="nav">
        <h1 class="nav-title">~~Artistry~~</h1>
        <div class="nav-links">
            <img src="https://i.ytimg.com/vi/0MDIPIxsNto/maxresdefault.jpg" width="400" alt="Picture of a dragon">
        </div>
    </div>
    @* <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="new">Add Artwork</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav> *@
    <br><br>
